node_modules/
dist/
.env
data/
.DS_Store
config/*
config/telegram
config/telegram.env
config/telegram.key
config/telegram.secret
config/chatid
config/slack
config/slack.env
logs/
scripts/*
!scripts/run-local.sh
!scripts/run-docker.sh
!scripts/run-keyword-once-local.sh
!scripts/run-keyword-once-docker.sh
